<html>
	<body>
		<div style="font-size:14px; padding:10px; font-family:arial;">
			<div style="padding:0px 0px; color:#000000;">
				<p>	Hi $name,</p>				
			</div>
			<div style="padding:0px 0px; color:#000000;">
				<p>Your One Time PIN is $otp & it is valid for next 15 minutes. 
				<br/>Please do not share it with anyone.</p>				
			</div>
			<div style="padding:0px 0px; color:#000000;">
				<p>Regards,<br/>Admin</p>
			</div>				
		</div>
	</body>
</html> 